<h1> Movie <%= @movie.id %> </h1>

<dl clss="dl-horizontal">
  <dt>Title: </dt>
  <dd><%= @movie.title %></dd>

  <dt>Year: </dt>
  <dd><%= @movie.year %></dd>

  <dt>Duration: </dt>
  <dd><%= @movie.duration %></dd>

  <dt>Description: </dt>
  <dd><%= @movie.description %></dd>

  <dt></dt>
  <dd><img src="<%= @movie.image_url %>" width="360"></dd> 
</dl>

<a href="http://localhost:3000/movies">Back</a>
<a href="http://localhost:3000/delete_movie/<%= @movie.id %>">Delete</a>
<a href="http://localhost:3000/movies/<%= @movie.id %>/edit">Edit</a>